@font-face {
  font-family: 'MistressBenedict';
  src: url('/assets/fonts/MistressBenedictBrush.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// =====================================
// ONBOARDING - Estructura base
// =====================================

.ONBOARDING-CONTAINER {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background-color: #181b16;
}

// Contenedor superior - Logo
.ONBOARDING-TOP {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10dvh;
  flex: 0.5;
}

.onboarding-logo{
  width: 150px;
  height: auto;
}

// Contenedor del medio - Imagen
.ONBOARDING-MIDDLE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  opacity: 0.2;
  position: relative;
}

.ONBOARDING-IMAGE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 151/101;
  transform: scale(1.1);
}

.ONBOARDING-MIDDLE::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(180deg, #181b16 0%, rgba(24, 27, 22, 0.5) 50%, transparent 100%);
  pointer-events: none;
  z-index: 1;
}

// Contenedor de la imagen ball
.ONBOARDING-BALL {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.BALL-IMAGE {
  width: auto;
  height: 80px;
  object-fit: contain;
  filter: brightness(0.3);
  transition: all 1s ease-in;
}

.BALL-IMAGE.shoot {
  animation: shootBall 1s ease-in forwards;
}

@keyframes shootBall {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-15vh) scale(0.2);
    opacity: 0.7;
  }
}

// Contenedor inferior - Botón
.ONBOARDING-BOTTOM {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}


.ONBOARDING-BOTTOM button{
  display: flex;
  width: 90%;
  height: 44px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fefefe;
  color: #000;
  font-size: montserrat, sans-serif;
  font-weight: 300;
  border: none;
}
