<div class="calendar-card">

  <h3>
    Calendario
  </h3>

  <div class="calendar-header">

    <button (click)="previousMonth()">
      ‹
    </button>

    <span>
      {{ month }}
    </span>

    <button (click)="nextMonth()">
      ›
    </button>

  </div>

  <div class="weekdays">

    @for (day of weekDays; track day) {

      <span>{{ day }}</span>

    }

  </div>

  <div class="days">

    @for (day of days; track $index) {

      @if (day !== null) {

        <button
          class="day"
          [class.selected]="day === selectedDay"
          (click)="selectDay(day)">

          {{ day }}

        </button>

      } @else {

        <div class="empty-day"></div>

      }

    }

  </div>

</div>
