<app-internal-header
  [title]="'Empleados'"
  [subtitle]="'Administrá los empleados del complejo'">
</app-internal-header>


<main class="employees-page">


  <div class="employees-toolbar">

    <div class="search-container">

      <span class="search-icon">
        ⌕
      </span>

      <input
        type="text"
        placeholder="Buscar empleado..."
        [(ngModel)]="searchTerm">

    </div>


    <button
      type="button"
      class="create-button"
      (click)="openNewEmployee()">

      <span class="plus-icon">
        +
      </span>

      Nuevo empleado

    </button>

  </div>


  <div class="employees-card">


    <div class="table-header">

      <span>
        EMPLEADO
      </span>

      <span>
        EMAIL
      </span>

      <span>
        TELÉFONO
      </span>

      <span>
        ESTADO
      </span>

      <span>
        ACCIONES
      </span>

    </div>


    @for (employee of filteredEmployees; track employee.id) {

      <div class="employee-row">


        <div class="employee-name">

          <div class="employee-avatar">

            {{ employee.name.charAt(0) }}

          </div>

          <span>
            {{ employee.name }}
          </span>

        </div>


        <span class="employee-email">

          {{ employee.email }}

        </span>


        <span>

          {{ employee.phone }}

        </span>


        <span>

          <span
            class="status"
            [class.status-active]="employee.active"
            [class.status-inactive]="!employee.active">

            {{ employee.active ? 'Activo' : 'Inactivo' }}

          </span>

        </span>


        <div class="actions">

          <button
            type="button"
            class="action-button"
            title="Editar"
            (click)="editEmployee(employee)">

            ✎

          </button>


          <button
            type="button"
            class="action-button"
            title="Cambiar PIN"
            (click)="resetPin(employee)">

            🔑

          </button>


          <button
            type="button"
            class="action-button"
            title="Cambiar estado"
            (click)="toggleEmployeeStatus(employee)">

            ⋮

          </button>

        </div>

      </div>

    }


    @if (filteredEmployees.length === 0) {

      <div class="empty-state">

        No se encontraron empleados.

      </div>

    }


  </div>


</main>


@if (showEmployeeModal) {

  <app-employee-modal
    [employee]="selectedEmployee"
    (close)="closeEmployeeModal()"
    (saveEmployee)="saveEmployee($event)">
  </app-employee-modal>

}


@if (showPinModal && selectedEmployeeForPin) {

  <app-pin-modal
    [employeeName]="selectedEmployeeForPin.name"
    (close)="closePinModal()"
    (confirm)="confirmResetPin($event)">
  </app-pin-modal>

}
