<div class="space-item">

  <img
    class="space-image"
    src="/cancha1.png"
    alt="Cancha 1">

  <div class="space-content">

    <div class="space-info">

      <h2 class="space-title">
        Cancha 1
      </h2>

      <p class="space-type">
        Fútbol 5 • Turnos de 60 minutos
      </p>

      <p class="space-capacity">
        Capacidad para 10 jugadores
      </p>

      <p class="space-schedule">
        08:00 - 00:00
      </p>

      <p class="space-price">
        Desde <strong>$12.000</strong>
      </p>

    </div>

      <div class="space-actions">

    <span class="status-badge active">
        Activa
    </span>

        <button class="edit-button">

          ✏ Editar

        </button>

      </div>

    </div>

  </div>
